.btnGroup {
  padding-left: 0.75rem;
  padding-top: 1rem;
  padding-bottom: 0.5rem;

  .btn {
    background-color: var(--color-btn-bg);
    color: #fff;
    margin: 0 0.25rem;
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;

    &.active {
      background-color: #000;
    }
  }
}

.list {
  display: flex;
  flex-direction: row;
  overflow: auto;
  padding: 0 0.5rem;
  padding-bottom: 0.5rem;
  margin-top: 0rem;
}
