.book {
  position: relative;
  display: flex;
  height: 6rem;
  align-items: center;
  padding: 0.5rem;
  border: solid var(--color-border) 1px;
  border-radius: 0.5rem;
  margin: 1rem;
  cursor: pointer;

  img {
    height: 100%;
  }
}

.info {
  position: relative;
  width: 65%;
  height: 100%;
  padding: 0.5rem;

  h4 {
    font-size: 0.9rem;
    line-height: 0.9rem;
    margin: 0;
    margin-bottom: 0.25rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  p {
    margin: 0;
    font-size: 0.65rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .page {
    position: absolute;
    bottom: 0.5rem;
  }
}
