@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');

.container {
  flex: 1 1 0;
  background-color: var(--color-bg-dark);
  overflow: hidden;
  overflow-y: auto;
}

.banner {
  position: relative;
  width: 100%;
  height: 13.5rem;
  box-shadow: 0 0.5rem 1rem rgba($color: #000000, $alpha: 0.2);

  .img {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    background: linear-gradient(
        50deg,
        rgba($color: #ffffff, $alpha: 0) 50%,
        rgba($color: #ffffff, $alpha: 0.5) 55%,
        rgba($color: #ffffff, $alpha: 0.7) 60%,
        rgba($color: #ffffff, $alpha: 0.8) 65%,
        rgba($color: #ffffff, $alpha: 0.9) 70%,
        rgba($color: #ffffff, $alpha: 1) 75%
      ),
      url('../assets/img/book.jpg');
    background-size: cover;
  }

  .text {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 2.5rem;
    justify-content: space-between;
    top: 1rem;
    right: 0.5rem;
    z-index: 100;
    background-color: transparent;
    font-family: 'Nanum Myeongjo', 'Roboto';
    writing-mode: vertical-rl;
  }

  .txtLarge {
    background-color: transparent;
    font-size: 1.125rem;
    font-weight: 800;
  }

  .txtMedium {
    background-color: transparent;
    font-size: 0.75rem;
    padding-top: 0.125rem;
    font-weight: 700;
  }
}

.title {
  margin: 0;
  margin-bottom: 0.5rem;
}

.titleBar {
  display: flex;
  justify-content: space-between;

  .arrow {
    font-size: 1.25rem;
    font-weight: 800;

    &:focus {
      color: black;
    }
  }
}

.books {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1rem;
  padding-top: 1.5rem;

  .list {
    display: flex;
    overflow-x: scroll;
  }
}

.reading {
  display: flex;
  flex-direction: column;
  min-height: 10rem;
  width: 100%;
  margin-top: 1rem;
  padding: 1rem;

  .btn {
    margin: auto;
    padding: 0.5rem 1rem;
    min-width: 6.75rem;
    background-color: black;
    color: white;
    text-align: center;
    font-weight: 700;
    text-decoration: none;
  }

  .btnGroup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 5.5rem;
    margin-top: 1rem;
  }
}
