.container {
  flex: 1 1 0;
  background-color: var(--color-blank);
  overflow-y: auto;
}

.shelf {
  padding: 1rem;

  .wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;

    h3 {
      margin: 0;
    }
  }

  .btnGroup {
    display: flex;
    margin: 0;
    padding: 0;
    border: solid 0.125rem black;
    border-radius: 1rem;

    .btn {
      display: block;
      margin: 0;
      padding: 0.125rem 0.5rem;
      border-radius: 1rem;

      &.selected {
        background-color: black;
        color: white;
      }

      &.normal {
        background-color: white;
        color: black;
      }
    }
  }
}
