.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  border-top: solid var(--color-border) 1px;
}

.title {
  font-size: 1.25rem;
  font-weight: 900;
  margin: 0;
  padding: 0;
}

.setting {
  position: fixed;
  right: 1rem;
  font-size: 1.25rem;
  cursor: pointer;
}
